@mixin kata-commandbar() {
	#CommandBar {
		margin-bottom: 0px;
		background-color: #2E7AC7;
		a {
			color: #FFFFFF;
		}
		a:hover {
			color: #ddd;
		}

	}

	.organiser-resource #CommandBar *, #CommandBar.organiser-active
	{
		background-color: #61C93F;
	}

	.technical-resource #CommandBar *, #CommandBar.learning-active
	{
		background-color: #ED462F;
	}

	.ninja-resource #CommandBar *, 	#CommandBar.ninja-active
	{
		background-color: #FBCC33;
	}

	#PageContainer .kata-category-title.organiser-active {
		border-bottom:10px solid #61C93F;
	}

	#PageContainer .kata-category-title.learning-active {
		border-bottom:10px solid #ED462F;
	}

	#PageContainer .kata-category-title.ninja-active {
		border-bottom:10px solid #FBCC33;
	}
}