@mixin kata-content {
	.kata-category-title,
	.kata-content {
		// border-top: 22px solid $sidebarBgColor;
		border-bottom: 10px solid $sidebarBgColor;
		margin-bottom: 10px;
		> h2 {
			margin: 9px 0px;
		}
	}

	@media screen and (max-width: 640px) {
		body {
			font-size:140%;
		}
	}

	.kata-content {
		padding-bottom: 20px;
		border-bottom-width: 0px;
		margin-bottom: 0px;
	}
	.kata-content:last-child {
		border-bottom-width: 10px;
		margin-bottom: 10px;
	}
	.ve-ui-surface {
		border-bottom: 10px solid $sidebarBgColor;
		margin-bottom: 10px;
	}
	.ve-init-mw-viewPageTarget-toolbar {
		margin: -10px  0 1em 0;
	}
	.ve-init-mw-viewPageTarget-surface,
	.ve-ui-debugBar {
		margin: 0 0 0 0;
	}

	/* following rules should be moved to section-specific source files */

	.organiser-resource .kata-category-title,
	.organiser-resource .kata-content {
		border-color: #61C93F;
	}

	.technical-resource .kata-category-title,
	.technical-resource .kata-content {
		border-color: #ED462F;
	}

	.ninja-resource .kata-category-title,
	.ninja-resource .kata-content
	{
		border-color: #FBCC33;
	}

	h2 {
		margin-top:22px;
	}

	.mw-content-ltr, .mw-content-rtl {
		.thumbcaption {
			text-align:center;
			font-size:12px;
			color:#666;
			padding: 0 10px 5px;
		}
		h1 {
			margin:20px 0px 30px;
			padding-bottom:16px;
		}
		p {
			margin:10px 0px;
		}
		.center {
			text-align:center;
		}
	}

	.mw-ui-flush-right {
		padding-left:10px;
	}
	.mw-ui-checkbox label {
		margin-left:10px;
	}
	.thumbimage {
		padding:10px;
	}
	.thumbinner {
		border:1px solid #DFDFDF;
		margin:10px;
	}
	.tleft .thumbinner {
		margin-left:0px;
	}
	.tright .thumbinner {
		margin-right:0px;
	}
	.mw-editsection, .mw-editsection-like {
		font-size:18px;
		vertical-align:middle;
	}

	#toc .toctoggle, .mw-editsection .mw-editsection-bracket {
		color:#666;
	}
	#toc {
		ul {
			margin:0.3em 0 0 1.6em;
			li {
				list-style-type:square;
				color:#61c93f;
			}
		}
	}
	#footer .logo img {
		height:41px;
	}
	#wpTextbox1, input#wpSummary {
		width:100%;
	}
	label {
		margin:0px;
	}
	input[type="checkbox"], input[type="radio"] {
		margin: 0px 3px 3px 0px;
	}
	#content .mw-search-formheader li {
		padding-bottom:0px;
	}
	.mw-ui-button.mw-ui-progressive, .mw-ui-button.mw-ui-constructive {
		text-shadow:none;
		font-weight:500;
	}
	.mw-ui-button.mw-ui-progressive:hover {
		background: #61c93f none repeat scroll 0 0;
		border-color:#61c93f;
	}
	.mw-ui-button.mw-ui-constructive {
		background:#61c93f none repeat scroll 0 0;
		border-color:#61c93f;
	}
	.mw-ui-button.mw-ui-constructive:hover {
		background:#2e7ac7 none repeat scroll 0 0;
		border-color:#2e7ac7;
	}
	label[for="wpCreateaccountMail"] {
		margin-left:34px;
	}
	#wpCreateaccountMail {
		display:none;
	}

	.toctoggle {
		display:none;
	}
	.toc {
		border:2px solid #2E7AC7;
		padding:0px 10px 22px 20px;
		margin-top:15px;
	}

	.organiser-active .toc {
		border: 2px solid #61C93F;
	}

	.learning-active .toc {
		border: 2px solid #ED462F;
	}

	.ninja-active .toc {
		border: 2px solid #FBCC33;
	}
}